*{
  margin: 0;
  padding: 0;
  font-family: 'Georgian', sans-serif;
}

@font-face {
  font-family: 'mxedruli';
  src: url('./CSS/Fonts/bpg_algeti.otf') format('openType');
}

html, body{
  overflow-x: hidden;
}

@font-face {
  font-family: "Georgian";
  src: url("./CSS/Fonts/bpg_extrasquare_mtavruli_2009.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
